@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <text>Hello @User.Identity.Name</text>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="Identity" asp-action="Signout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark p-0 pl-3">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Identity" asp-action="Signin">Sign in</a>
    </li>
}
</ul>
